body {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
}

@media screen and (min-width: 780px) {
  .App {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
  }

  .left-pane {
    background-color: #1DB954;
    width: 25%;
    min-width: 25%;
    max-height: 100vh;
    overflow: hidden;
  }

  .view-artists {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    overflow-y: scroll;
    height: calc(100vh - (177.22px + 100px + 37px));
    margin-top: 0;
  }

  .form-list {
    display: flex;
    flex-direction: column;
  }

  .right-pane {
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 75%;
    min-width: 75%;
  }

  .support-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
  }

  .support-pane-2 {
    display: none;
  }
}

@media screen and (max-width: 779px) {
  .App {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .left-pane {
    background-color: #1DB954;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
  }

  .view-artists {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-y: scroll;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #9DE7A0;
    border-radius: 10px;
  }

  .form-list {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-right: 10px;
  }

  .right-pane {
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    min-width: 75%;
  }

  .support-pane {
    display: none;
  }

  .support-pane-2 {
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 8px;
  }
}


.add-artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
}

.intro-blurb {
  padding: 10px;
}

.artist-list-item {
  font-size: large;
}

.artist-list-item:hover {
  color: red;
  cursor: pointer;
}

.render-button {
  width: fit-content;
}

button {
  width: fit-content;
}

.artist-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track-pane {
  border-color: grey;
  margin: 10px;
  border-radius: 10px;
  border-style: solid;
  min-width: fit-content;
  max-width: 700px;
}

.track-pane:hover {
  background-color: antiquewhite;
}

.tracks-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.special-border {
  border-color:#1DB954;
  border-radius: 15px;
}

.inter-track {
  display: flex;
  flex-direction: row;
  padding: 5px;
  flex-grow: 1;
}

.track-img {
  width: 100px;
  height: 100px;
}

.text-info {
  display: flex;
  flex-direction: column;
  float: left;
  flex-grow: 1;
}

.top-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  margin: 0 !important;
}

h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #9DE7A0;
}

button {
  background-color: #c1f0c3;
  border-radius: 5px;
  border-color: #9DE7A0;
  padding: 7px;
  cursor: pointer;
  font-weight: 400;
  border: 1px;
  box-shadow: 2px 2px 2px #adebb5;
}
button:hover {
  background-color: #9DE7A0;
}

button:active {
  background-color: #84e187;
  box-shadow: 1px 1px 2px #adebb5;
  transform: translate(1px, 1px);
}

#artist-input {
  border-radius: 6px;
  padding: 8px;
  border: none;
  margin-bottom: 4px;
  width: 10rem;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}